.custom-scroll > .viewport {
    -fx-background-color: transparent;
}

.scroll-bar:horizontal, .scroll-bar:vertical {
    -fx-background-color: transparent;
}

.scroll-bar .track {
    -fx-background-color: transparent;
}

.scroll-bar .thumb {
    -fx-background-color: #555;  /* Warna thumb gelap, cocok untuk background hitam */
    -fx-background-insets: 0;
    -fx-background-radius: 5;
}

.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0;
}
